// HEADER
.header-top {
    background-color: coral;

    li {
        background-color: aquamarine;
        border: 1px dashed black;
    }
}


section {
    background-color: cadetblue;

    .container {
        background-color: goldenrod;

        .col {
            background-color: coral;
            border: 1px dashed black;
        }
    }
}


// MAIN
.card-section {
    .container {
        background-color: cornflowerblue;

        .card-container {
            background-color: coral;
            border: 1px dashed black;

            .card {
                background-color: orange;
                border: 1px dashed black;
            }
        }
    }

}

.d-p-section {
    background-color: darkslategray;

    .container {
        background-color: goldenrod;

        .card {
            background-color: coral;
            border: 1px dashed black;
        }
    }
}

.form-section {
    .col {
        background-color: cadetblue;
        border: 1px dashed black;
    }

}

// FOOTER
footer {
    background-color: black;

    div {
        background-color: coral;
        border: 1px dashed black;
    }
}