// REGOLE LAYOUT
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin container-size {
    width: 1000px;
    margin: 0 auto;
    padding: 4rem 0;
}

@mixin container-small-size {
    width: 800px;
    margin: 0 auto;
    padding: 4rem 0;
}

// REGOLE ELEMENTI
@mixin white-btn {
    background-color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

@mixin input-rules {
    border: none;
    background-color: $color-light;
    outline: none;
    padding: 1rem;
    margin-bottom: 1.5rem;
}